<div class="panel panel-default">

  <div class="panel-heading">
    <h1>Listing tins</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tins.each do |tin| %>
        <tr>
          <td><%= tin.description %></td>
            <tr>
              <td><%= link_to 'Show', tin %></td>
              <td><%= link_to 'Edit', edit_tin_path(tin) %></td>
              <td><%= link_to 'Destroy', tin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="panel-footer">
    <%= link_to 'New Tin', new_tin_path %>
  </div>

</div>



