<%= render 'pages/home' unless user_signed_in? %>

<div id = "tins" class="transitions-enabled">
  <% @tins.each do |tin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(tin.image.url(:thumb)), tin %>
      <div class="panel-body">
        <%= tin.description %> <br>
        <strong><%= tin.user.email unless tin.user.nil? %> </strong>
        <% if tin.user == current_user %>
          <div class="actions">
            <%= link_to edit_tin_path(tin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to tin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>