<div id = "tins" class="transitions-enabled">
  <% @tins.each do |tin| %>
    <div class="box panel panel-default">
      <%= image_tag tin.image.url(:thumb) %>
      <div class="panel-body">
        <%= tin.description %>
        <%= tin.user.email unless tin.user.nil? %>
        <%= link_to 'Show', tin %>
        <% if tin.user == current_user %>
          <td><%= link_to 'Edit', edit_tin_path(tin) %>
          <td><%= link_to 'Destroy', tin, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>