<%= link_to 'Back', tins_path %>

<div class = "row">
	<div class="panel panel-primary center col-md-offset-2 col-md-8">
	<!-- <div class="panel panel-primary center">-->

		<p id="notice"><%= notice %></p>

		  <div class="panel-body center">
		  	<%= image_tag @tin.image.url(:medium) %>
		  	<h3><%= @tin.description %></h3>
		  	<p>
		  		<strong><%= @tin.user.email unless @tin.user.nil? %> </strong>
		  	</p>
		  </div>

			<div class="panel-footer">
		  	<%if @tin.user == current_user %>
          <%= link_to edit_tin_path(@tin) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          |
          <%= link_to @tin, method: :delete, data: { confirm: 'Are you sure?' } do %>
          	<span class="glyphicon glyphicon-trash"></span>
          	Delete
          <% end %>

				<% end %>

			</div>

	</div>
</div>