<!DOCTYPE html>
<html>
<head>
  <title>Tinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Thome", root_path%>
	<%= link_to "Tabout", about_path%>
<%= yield %>

</body>
</html>
